<img src="<%= @flat['imageUrl'] %>" class="img-fluid" alt="Responsive image" style="height: 400px; width: 100%; object-fit: cover;">

<h1><%= @flat["name"] %></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, eos pariatur, harum repellendus aliquid deserunt accusamus, aut id, dignissimos distinctio perspiciatis iste repellat quas eum at itaque ut iusto. Eveniet?</p>

<p><strong>Price:</strong> <%= @flat["price"] %>€</p>
